.PokeDex {
}
.PokeDex-cards {
  width: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10%;
}
.PokeDex-winner {
  color: lightgreen;
}
.PokeDex-loser {
  color: lightcoral;
}
